<header>



    {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
    <a href="{{ link.url }}">{{ link.title }}</a>

    {% for childlink in linklists[child_list_handle].links %}
    <a href="{{ childlink.url }}"></a>{{ childlink.title | escape }}</a>
    {% endfor %}]
    {% else %}
    <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
    {% endfor %}

    <a href="/cart">cart</a>
    <a href="/pages/about">about</a>



    {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="/account">account</a>
    {{ 'log out'  | customer_logout_link }}
    {% else %}
    {{ 'log in ' | customer_login_link }}
    <h1>

        {{ 'register' | customer_register_link }}
        {% endif %}
        {% endif %}




</header>